.container{
    display:grid;
    grid-template-columns: 2fr 7fr;
    height: 100vh;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 24px;
    padding-right: 28px;
    padding-bottom: 30px;
    border: 1px solid whitesmoke;
    
}

.leftsideprofile{
    display: flex;
    justify-content: space-between;
    border:  0.5px solid #B5BDCD;
    padding: 10px;
}
.leftsideheader{
    padding-top: 1cap;
    padding-left: 1cap;
    padding-bottom: 1cap    ;
}

.jessica{
    display: flex;
    align-items: center;
}

.leftsideprofile figure{
    height: 20px;
    width: 20px;
}

.leftsideprofile img{
    height: 100%;
    width: 100%;
}



.Logosclass{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}

.Logosclass div{
    /* align-self: center; */
    color: #626D82;
    display: flex;

    align-items: center;
    padding: 15px 10px 15px 0px;
}

.docclass p{
    /* align-self: center; */
    color: #1F4451;
}

.Logosclass div img{
    padding:0px 20px;
}
.docclass{
    font-size: 16px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    background-color: #D3F7B5;
    
    padding: 15px 10px 15px 0px;
}



.footer{
    display: flex;
    flex-direction: column;
    gap: 19px;
}


.gap-16{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button{
    width: 97px;
    height: 34px;
    border-radius: 5px;
    background: #1F4451; 
    color: white;  
    font-size: 16px; 
}






.rightside{
    display: flex;
    flex-direction: column;
    gap: 33px;
    background-color:#F3F2F1;
    padding: 30px 80px 0 80px;
}

.section21{
    display: flex;
    gap: 14px;
}
.section22{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button2 input{
    padding-left: 10px;
    border: none;
}
.button2{
    width: 307px;
    height: 47px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
}


.Mytable{
    border-radius: 10px;
    width: 100%;
    background-color: white;
    /* border: 1px solid black; */
    border-bottom: 1px solid #545658;
}

.Mytable th,tr{
    padding:20px 0px;
    /* border: 1px solid black; */
    border-bottom: 1px solid #E8ECF1;
}

.Mytable th{
    
    text-align: start;
}

.Mytable td{
    /* border: 1px solid black; */
    padding: 15px 0px;
    
}


.column-flex{
    display: flex;
    flex-direction: column;
   
}

.row-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}


.button3{
    padding: 5px 10px;
    border:1px solid #436d7c;
    border-radius: 15px;
    background: #436D7C;
    font-size: 16px;
    color: white;
}

.button5{
    padding: 5px 10px;
    border:1px solid #7a8d93;
    border-radius: 15px;
    background: #E8ECF1;
    /* background: #436D7C; */
    font-size: 16px;
    /* color: white; */
    color: #626D82;
    margin-bottom: 5px;
}

.button6{
    padding: 5px 10px;
    border:1px solid #7a8d93;
    
    border-radius: 15px;
    font-size: 16px;
    background: #D3F7B5;
    color: #1F4451;
    margin-bottom: 5px;
}

.padding-left{
    padding-left: 28px;
}

.button4{
    border: 1px solid #B5BDCD;
    border-radius: 8px;
    background-color: white;
    width: 134px;
    height: 34px;
}



.gap_02{
    display: flex;
    gap: 14px;
}
.gap_02 img{
    padding-right: 19px;
}
.signupbutton{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.signupimage{
    display: flex;
    align-items: center;
}